.restaurants__card {
  @include card;
  @include box_shadow(rgb(211, 211, 211));
  @include tablet {
    width: 40%;
    margin-bottom: 25px;
  }
  @include desktop {
    width: 45%;
    margin-bottom: 25px;
  }
  @include large {
    width: 45%;
    margin-bottom: 25px;
  }
  &__img {
    width: 100%;
    img {
      @include card-img;
      @include tablet {
        height: 200px;
      }
      @include desktop {
        height: 225px;
      }
      @include large {
        height: 250px;
      }
    }
  }
  &__container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
  }
}

.epd {
  padding: 10px 0px;
  opacity: 0;
  @include desktop {
    width: 80%;
  };
  @include desktop {
    width: 80%;
  };
  &:nth-child(1) { 
    animation: menu-loading 2s cubic-bezier(0.63, 0.84, 0.13, 1.04) forwards;
  }
  &:nth-child(2) { 
    animation: menu-loading 2s cubic-bezier(0.63, 0.84, 0.13, 1.04) 1s forwards;
  }
  &:nth-child(3) { 
    animation: menu-loading 2s cubic-bezier(0.63, 0.84, 0.13, 1.04) 2s forwards;
  }
  h1 {
    @include margin;
    font-size: 15px;
    font-weight: lighter
  }
  &__card {
    @include card;
    padding: 15px;
    @include box_shadow(rgb(211, 211, 211));
    &__container__description {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}