.restaurants__card {
  @include card;
  @include box_shadow(rgb(211, 211, 211));
  &__img {
    width: 100%;
    img {
      @include card-img
    }
  }
  &__container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
  }
}

.epd__card {
  @include card;
  padding: 15px;
  @include box_shadow(rgb(211, 211, 211));
}