.restaurants__card {
  @include card;
  @include box_shadow(rgb(211, 211, 211));
  &__img {
    width: 100%;
    img {
      @include card-img
    }
  }
  &__container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
  }
}

.epd {
  padding: 10px 0px;
  h1 {
    @include margin;
    font-size: 15px;
    font-weight: lighter
  }
  &__card {
    @include card;
    padding: 15px;
    @include box_shadow(rgb(211, 211, 211));
    &__container__description {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}