.footer {
  @include footer-style;
  padding-bottom: 20px;
  &__logo {
    width: 40%;
    padding: 20px;
    color: white;
    font-family: $font-titre;
    font-weight: lighter;
  }
  &__link {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    a {
      color: white;
      i {
        width: 20px;
        margin-right: 5px;
      }
    }
  }
}