.restaurants__card__container__icon {
  &:hover > .heart {
    display: none;
  }
  &:hover > .heart--full {
    display: block;
  }
  .heart {
    &--full {
      display: none;
      color: transparent;
      background: linear-gradient($seconde-coleur, $premiere-coleur);
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}


.main__container__header__contain__icon {
  cursor: pointer;
  &:hover > .heart {
    display: none;
    
  }
  &:hover > .heart--full {
    display: block;
    color: transparent;
    background: linear-gradient($seconde-coleur, $premiere-coleur);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .heart {
    &--full {
      display: none;
    }
  }
}